/*@font-face{
	font-family:SourceSansPro;
	src:url(../fuentes/SourceSansPro-Light.ttf) format('TrueType');
}
@font-face{
	font-family:Roboto;
	src:url(Roboto-Light.ttf) format('TrueType');
	src:url(Roboto-Light.woff) format('woff');
}*/
@font-face {
	font-family: Roboto;;
	src:
	  url(../fuentes/Roboto/Roboto-Bold.ttf) format("TrueType");
	font-weight: 100;
	font-style: normal;
	font-display: fallback;
  }
  @font-face {
	font-family: Lexend;;
	src:
	  url(../fuentes/Lexend/Lexend-Medium.ttf) format("TrueType");
	font-weight: 100;
	font-style: normal;
	font-display: fallback;
  }
  @font-face {
	font-family: Lexend-light;;
	src:
	  url(../fuentes/Lexend/Lexend-Light.ttf) format("TrueType");
	font-weight: 100;
	font-style: normal;
	font-display: fallback;
  }